---
import Layout from '@components/Layout.astro';

import projects from '../projects.json';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts', ({ data }) => {
  return data.hidden !== true;
});
---

<Layout title="Jatin" description="Jatin's personal website">
  <h1 class="mb-3 text-3xl font-semibold">Hi, I'm Jatin</h1>
  <p class="text-zinc-800">
    I am a pre-final year student at the SRM Institute of Science and Technology, Chennai. I am a self-taught developer. Professionally, I am a Backend first Full-stack developer. I love to build things that make a difference. I am passionate about open-source and love to contribute to it.
  </p>
  <p class="mt-4 text-zinc-800">Feel free to connect with me on Twitter or Email!</p>
  <section class="mt-8">
    <h2 class="mb-2 text-2xl font-semibold">Projects</h2>
    <div class="grid grid-cols-1 gap-3 sm:grid-cols-2">
      {
        projects.map((project) => {
          return (
            <article class="group rounded-md border px-4 pb-3  pt-2">
              <a href={new URL(project.repository, "https://github.com")} class="block">
                <h3 class="w-fit group-hover:text-main group-hover:underline">{project.name}</h3>
                <p class=" text-sm text-zinc-500">{project.description}</p>
              </a>
            </article>
          );
        })
      }
    </div>
  </section>
  <section class="mt-12">
    <h2 class="mb-4 text-2xl font-semibold">Blog</h2>
    {
      posts.map((post) => {
        return (
          <article class="mb-4">
            <h3 class="w-fit">
              <a href={`/blog/${post.id}`} class="hover:text-main hover:underline">
                {post.data.title}
              </a>
            </h3>
            <p class="text-sm text-zinc-400">{post.data.description}</p>
          </article>
        );
      })
    }
  </section>
</Layout>
